body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(247, 247, 247); */
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-header {
    font-size: 1.35rem;
    font-weight: bold;
    background-color:rgb(25, 65, 117);
}